@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600;700&display=swap');

body, html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 500;
}